/*弹窗广告*/
.popAd {
    width: 1200px;
    /*height: 300px;*/
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 10px;
    left: 50%;
    z-index: 10;
    margin-left: -600px;
}

/*倒计时显示*/
.popAd .t {

    position: absolute;
    top: 5px;
    right: 5px;
}

/*头部导航-B*/
/*通栏*/
.headNav {
    height: 29px;
    line-height: 28px;
    background-color: #FCFCFC;
    border: 1px solid #EBEBEB;
}

/*通栏左边链接*/
.headNav .fl a {
    color: #2d374b;
    font-family: "宋体";
}

.headNav .fl {
    margin-left: 30px;
}

/*通栏右侧登陆*/
.headNav .fr {
    margin-right: 30px;
}

.headNav .fr a {
    height: 29px;
    display: inline-block;
    float: left;
    background: url("../images/loginall.png") no-repeat;
}

/*登陆按钮*/
.headNav .fr .login {
    width: 70px;
    background-position: 0 -450px;
}

.headNav .fr .login:hover {
    background-position: 0 -500px;
}

.headNav .fr .weibo {
    width: 32px;
    background-position: 0 -50px;
}

.headNav .fr .weibo:hover {
    background-position: -70px -50px;
}

.headNav .fr .qzone {
    width: 32px;
    background-position: 0 -100px;
}

.headNav .fr .qzone:hover {
    width: 32px;
    background-position: -70px -100px;
}

.headNav .fr .mail {
    width: 32px;
    background-position: 0 -150px;
}

.headNav .fr .mail:hover {
    width: 32px;
    background-position: -70px -150px;
}

/*通栏导航结束*/
/*logo区域开始*/
.logo {
    height: 56px;
}

.logo .logo1 {
    width: 155px;
    height: 30px;
    margin-top: 19px;
    display: block;
    text-indent: -99999em;
    background: url("../images/gaicomic_logo1.jpg") no-repeat;
}

.logo .rss {
    width: 60px;
    height: 16px;
    line-height: 14px;
    padding-left: 24px;
    margin: 29px 0 0 16px;
    display: block;
    font-size: 18px;
    background: url("../images/rss_logo.png") no-repeat;
}

.logo .rss:hover {
    text-decoration: underline;
}

.logo .tomail {
    width: 97px;
    height: 16px;
    display: block;
    margin-top: 29px;
    background: url("../images/nav_dy_mail.jpg") no-repeat;
}

/*搜索框*/
.search {
    margin-top: 19px;
    margin-right: 16px;
}

.iptBox {
    width: 228px;
    height: 24px;
    line-height: 24px;
    border: 2px solid #ccc;
    border-right: 0 none;
}

.iptBox input {
    height: 24px;
    width: 200px;
    margin: 0 10px;
    color: #999;
    font-size: 12px;
}

.search .btn {
    width: 50px;
    height: 28px;
    line-height: 26px;
    background-color: #0081C3;
    color: #fff;
    font-size: 16px;
    font-family: "微软雅黑";
}

.search .btn:hover {
    color: #999;
}

/*logo区域结束*/
/*主导航区域*/
.nav {
    position: relative;

}

.navList {
    height: 54px;
    line-height: 54px;
    background: url("../images/nav_38.png");
}

.navList li {
    float: left;
    width: 76px;
    height: 54px;
}

.navList li a {
    width: 91px;
    height: 50px;
    text-align: center;
    display: block;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
}

/*鼠标悬停背景样式*/
.navCurrent {
    background: url("../images/nav_bghover.png") no-repeat;
    /*给出在动的感觉*/
    margin-top: 2px;
}

/*主导航广告*/

.ad {
    position: relative;
    /*border: 1px solid #ccc;*/
}

#open {
    position: absolute;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 12%;
    top: 56px;
    right: 100px;
    display: none;
}

/*关闭按钮，点击关闭这个图片*/
.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

/*一堆链接*/
.listNav {
    width: 970px;
    height: 68px;
    line-height: 34px;
    padding: 0 14px;
    border: 1px solid #999;
    position: relative;
}

.listNav a {
    margin-right: 14px;
}

.listNav a:hover {
    color: #f06e00;
    text-decoration: underline;
}

/*分割线*/
.line {
    width: 970px;
    height: 0;
    border: 0.2px solid #c9c9c9;
    position: absolute;
    top: 34px;

}

/*导航结束*/
/*头部结束*/

/*主体内容开始*/
.main {
    margin-top: 10px;
    margin-bottom: 200px;
}

/*左侧内容区*/
/*轮播图*/
.slideshow {
    width: 672px;
    height: 320px;
    margin-bottom: 50px;
    position: relative;
}

.slideshow div {
    width: 672px;
    height: 320px;
    overflow: hidden;
    position: relative;
}

.slideshow .slideshowImg li {
    float: left;
    width: 672px;
}

.slideshow li {
    float: left;
}

/*大图*/
.slideshow .slideshowImg {
    width: 500%;
    position: absolute;
}

/*小图*/
.slideshow .slideshowBtn {
    position: absolute;
    bottom: -20px;
    right: 0;
}

/*小图默认样式*/
.slideshow .slideshowBtn li {
    margin-right: 20px;
    border: 4px solid #F1F1F1;
    border-radius: 10%;
}

/*当前图片对用小图样式*/
.slideshow .slideshowBtn .current {
    border-color: #CC3300;
}

/*今日聚焦*/
.todyfocus .title {
    font-size: 22px;
    line-height: 40px;
}

.todyfocus .title span {
    color: #ad2500;
}

.todyfocus div.content {
    width: 552px;
    height: 122px;
    background: url("../images/focus_bg.png") no-repeat;
    padding: 25px 30px;
}

.todyfocus div.content h3 a {
    font-size: 18px;
    color: #C30;
}

.todyfocus div.content h3 a:hover {
    text-decoration: underline;
}

.todyfocus div.content p {
    color: #7a7979;
    font-size: 11px;
    line-height: 4;
}

/*品牌专区*/
.pinpai .title {
    font-size: 22px;
    line-height: 40px;
}

.pinpai .title span {
    color: #ad2500;
}

.pinpaicont li {
    float: left;
    margin: 20px auto 0;
    margin-left: 10px;
}

.pinpai .pinpaicont {
    padding: 10px;
    background-color: #999;
    text-align: center;
}


.pinpaicont a:hover {
    color: #f06e00;
}

/*瀑布流*/
.Waterfall {
    margin-left: 34px;
}

.Waterfall a:hover {
    color: #ad2500;
}

.Waterfall > span {
    font-size: 30px;
}

.Waterfall > span > span {
    color: #ad2500;
}

.Waterfall ul {
    float: left;
}

.Waterfall ul li {
    margin: 5px;
    padding: 10px;
    border-radius: 2%;
    border: 1px solid #ccc;
}

.Waterfall ul li p {
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;

}


/*右侧部分*/
.frarea {
    width: 295px;
    /*height: 600px;*/
}

/*节操去哪*/
.frarea .frbox {
    margin-bottom: 20px;
}

#jiecao .fl p a {
    font-weight: 600;
    font-size: 16px;
}

#jiecaolbt {
    width: 295px;
    position: relative;
    height: 200px;
    overflow: hidden;
    margin-top: 16px;
}

#jiecaolbt ul {
    width: 1000px;
    position: absolute;
}

#jiecaolbt ul li {
    float: left;
}

#jiecao ol li img, #jiecao ol li {
    width: 96px;
    height: 60px;
    float: left;
    margin-right: 2px;
}

/*独家放送*/
.frarea .title {
    border-top: 2px solid #f06e00;
    line-height: 2;
    margin-bottom: 40px;
}

.dujia ul li {
    background: url("../images/exus-icon.png") no-repeat;
    padding-left: 16px;
    margin-bottom: 12px;
}

.dujia ul li p {
    position: relative;
    left: -16px;
}

.frbox span.fl {
    font-size: 18px;
}

.dujia a.fr {
    color: #666;
}

.frbox a {
    font-size: 14px;
    font-family: "宋体";
    /*line-height: 26px;*/
}

.frbox a:hover {
    color: #f06e00;
    /*text-decoration: underline;*/
}

/*阴影显示文字，在图片上*/
.dujia .fl ul p {
    position: relative;
}

.dujia .fl ul p span {
    display: block;
    width: 295px;
    background-color: rgba(0, 0, 0, 0.6);
    /*opacity: 0.4;*/
    position: absolute;
    bottom: 0;
}

.dj_white {
    color: #fff;
}